@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
}

body {
  @apply bg-slate-950 text-slate-200;
  font-family: 'Inter', sans-serif;
}